$font-size-larger:  20px;
$color-1:        #AA0000; // company red
$color-2:        #FCBE12; // company yellow
$color-3:        #595854; // company medium graphite
$color-4:        #3c763d; // success green
$color-5:        #145dd7; // info blue

$item-image-width: 500px;
$item-image-padding: 60px;

// changes to ionic internal styles
$font-family-sans-serif:          Roboto, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// $font-size-base:                  16px;
// $font-size-large:                 20px;
// $font-size-small:                 13px;

@import "ionic/scss/ionic";

fieldset {
    border: 0;
    margin: 0;
}

.growl {
    z-index: 15;
}
// Alerts

@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($text-color, 10%);
  }
}

$alert-padding: 6px;
$alert-border-radius: 4px;
$alert-line-height: 4px;

$alert-success-bg: lighten($color-4, 60%);
$alert-success-border: $color-4;
$alert-success-text: $color-4;

$alert-info-bg: lighten($color-5, 50%);
$alert-info-border: $color-5;
$alert-info-text: $color-5;

$alert-warning-bg: lighten($color-2, 40%);
$alert-warning-border: $color-2;
$alert-warning-text: darken($color-2, 15%);

$alert-danger-bg: lighten($color-1, 60%);
$alert-danger-border: $color-1;
$alert-danger-text: $color-1;

.alert {
  padding: $alert-padding;
  margin-bottom: $alert-line-height;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  /* .alert-link { */
  /*   font-weight: $alert-link-font-weight; */
  /* } */

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
  button {
      display: none;
  }
}
.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}
.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}
.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// http://stackoverflow.com/a/13276214/457935
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

// https://github.com/angular/angular.js/issues/8485
.ng-hide-add-active, .ng-hide-remove {
  display: inherit !important;
}
.ng-hide:not(.ng-animate) {
  display: none !important;
}

// http://forum.ionicframework.com/t/popover-sizing/8251/6
ion-popover-view.fit {
    @extend .alert-info;
    height: auto !important;
    width: auto !important;
    padding: 10px;
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}

ion-nav-view ion-content.has-header {
    border-top:5px solid $color-1;
}

.ac-item .icon {
    font-size: 20px;
}

.avatar {
    width: 100px;
}

.courses {
    color: $color-1;
}
.layout-name {
    text-transform: capitalize;
}
.bar .title {
    font-size: 20px;
    text-transform: uppercase;
}

.ac-inline-button {
    margin-left: 10px;
}

.underlined-courses, .underlined-blankcourses {
    border-bottom: 1px solid desaturate($color-1, 40%);
    width: ($item-image-width - $item-image-padding);
}
.underlined-workouts {
    @extend .underlined-courses;
    border-bottom: 1px solid desaturate($color-2, 40%);
}
.underlined-warmups {
    @extend .underlined-courses;
    border-bottom: 1px solid desaturate($color-3, 40%);
}

.background-courses, .background-blankcourses {
    background-color: transparentize($color-1, 0.15);
    padding-left: 6px;
    padding-top: 5px;
    width: 250px;
}
.background-workouts {
    @extend .background-courses;
    background-color: transparentize($color-2, 0.15);
}
.background-warmups {
    @extend .background-courses;
    background-color: transparentize($color-3, 0.15);
}
.item-divider {
    padding-top: 12px;
}
.item-image {
    background-repeat: no-repeat;
    color: $light;
    font-family: AppleSDGothicNeo-Regular;
    font-size: $font-size-larger;
    font-weight: bold;
    height: 150px;
    padding-top: 60px;
    padding-left: $item-image-padding;
    text-align: left;
    text-transform: uppercase;
}
.item-image.courses {
    background-image: url(('http://lorempixel.com/' + $item-image-width / 1px + '/150/sports/1'));
}
.item-image.workouts {
    background-image: url('http://lorempixel.com/' + $item-image-width / 1px + '/150/sports/2');
}
.item-image.warmups {
    background-image: url('http://lorempixel.com/' + $item-image-width / 1px + '/150/sports/3');
}
.item-image.blankcourses {
    background-image: url('http://lorempixel.com/' + $item-image-width / 1px + '/150/sports/4');
}
