<ion-view title="Preferences">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item item-image {{currentPage.section}}" href="#{{currentPage.state}}">
        <item-image section="currentPage.section" page="currentPage"/>
      </ion-item>
    </ion-list>
    <form ng-submit="updateProfile(profile)" novalidate>
      <div class="list">
        <div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
        <div ng-show="progress.active()" style="color: red; font-size: 50px;" translate>Saving&hellip;</div>
        <label class="item item-input">
          <span class="input-label" translate>Language</span>
          <select name="languages" ng-model="profile.lang">
            <option ng-repeat="lang in languages" value="{{lang.0}}">{{lang.1}}</option>
          </select>
          </label>
      </div>
      <div class="padding">
        <button type="submit" ng-disabled="progress.active()" class="button button-block button-positive" translate>Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
