<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item item-image {{currentPage.section}}" href="#{{currentPage.state}}">
        <item-image section="currentPage.section" page="currentPage"/>
      </ion-item>
    </ion-list>
    <form ng-submit="updateUser(user)" novalidate>
      <div class="list">
        <ion-item class="item-icon-right" ui-sref='preferences'>
          <span>Preferences</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" ui-sref="dogs">
          <span>Dogs</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
        <div ng-show="progress.active()" style="color: red; font-size: 50px;" translate>Saving&hellip;</div>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" name="name" ng-model="user.first_name"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" name="name" ng-model="user.last_name"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" name="name" ng-model="user.username" readonly />
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail address</span>
          <span class="label label-danger" ng-show="submitted && settingsForm.email.$error.required">Required!</span>
          <span class="label label-danger" ng-show="submitted && settingsForm.$error.email">Invalid email!</span>
          <input type="email" name="email" ng-model="user.email" required />
        </label>
        <label class="item item-input">
          <span class="input-label">Joined</span>
          <input type="text" value="{{user.date_joined | date:'fullDate'}}" readonly />
        </label>
      </div>
      <div class="padding">
        <button type="submit" ng-disabled="progress.active()" class="button button-block button-positive" translate>Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
